<div>
    <h2>Status: {{status}}</h2>
    <div layout="row">
        <div flex>
            <div ng-repeat="target in targets">
                <button ng-click="callTarget(target)">{{target.name}}</button> - <span ng-if="target.args=='<none>'">{{target.args}}</span><span ng-if="target.args!='<none>'"><input type="text" ng-model="target.args"></span>
            </div>
        </div>
        <div flex>
            <spinlist ng-if="results && results.length > 0" list="results" listmodel="'SampleGame'" edit="'true'" onselect="onitemselect"></spinlist>
            <md-divider></md-divider>
            <div ng-if="itemselected">
                <spinwalker model="itemselected" edit="'true'"></spinwalker>
            </div>
        </div>
    </div>
</div>