<div>
    <md-list >
        <md-subheader class="md-no-sticky" style="background-color:#ddd">
            <md-icon md-svg-src="bower_components/material-design-icons/file/svg/design/ic_folder_shared_24px.svg" ></md-icon>
            SpinCycle Model {{model.type}}</md-subheader>
        <md-list-item ng-repeat="prop in listprops" >
            <div class="md-list-item-text" layout="row">
                <div flex style="background-color:#eee;margin-bottom:2px"> {{ prop.name }} </div>
                <div ng-if="!isarray(prop.value)" flex class="md-secondary">
                    <span ng-if="edit && prop.name != 'id'"><input type="text" ng-model="model[prop.name]" ng-change="onChange(model, prop.name)"></span>
                    <span ng-if="!edit || prop.name == 'id'">{{prop.value}}</span>
                </div>
                <div flex style="" ng-if="edit && isarray(prop.value)">
                    <div><md-button class="md-raised" ng-click="addModel(prop.type, prop.name)">New {{prop.type}}</md-button></div>
                    <spinlist  flex class="md-secondary" listmodel="prop.type" edit="edit" list="prop.value" onselect="onselect" ondelete="ondelete"></spinlist>
                </div>
                <span flex ng-if="!edit && isarray(prop.value)">
                    <spinlist flex class="md-secondary" listmodel="prop.name" list="prop.value" onselect="onselect"></spinlist>
                </span>
            </div>
        </md-list-item>
    </md-list>
</div>